# Build artifacts
bin/
obj/

# Visual Studio things
.vs/
*.user
*.suo

# Build results
*.dll
*.exe
*.pdb

# NuGet
*.nupkg
packages/
*.snk
project.lock.json
*.nuget.props
*.nuget.targets

# Logs
*.log
